 <h1 class="sign-up-hero"> Get on the </h1>

  <%= image_tag("writetracktextblack-skymatte.png", alt: "get on the write track.")  %> <br>
  <%= image_tag("logo300.png", alt: "get on the write track.", class: "sign-up-logo")  %>

  <h4>It's time to conquer the blank page. <br>
  We can help. </h4>
