html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

.main-title {
	@extend h3;
	padding-bottom: 0.25em;
}

.quotes {
	padding: 1em 1em;

	h3 {
		font-family: $georgia;
		font-style: italic;
	}

	p {
		font-family: $georgia
	}
}

.calendar-entry {
	float: right;
	padding-right: 2px;
}
.calendar-header {
	margin: 0 1em;
}

.card {
	table {
		margin: 0 2em 0 1em;
		width: 95%;
	}
}