// LAYOUT 

.write-button {
	@include button;
	a {
		color: white;
	}
}
.button {
	@extend .write-button;
}

.goal-button {
	@extend .write-button;
	float: right;
}

.edit {
	@include button(simple, $base-background-color);

       	
        //padding-top: 0.5em;
        //margin-right: 0.5em;
        //display: inline-block;
        // margin-bottom: .3em;
       // outline: none;
        // float: right;


        // @include media($medium-screen) {
        //   width: auto;
        //   margin-bottom: 0;
        // }
    }

   
.write-now {
	@include button(pill, tint($blue, 30%));
	margin-top: 3px;
	float: right;

	a {
		color: white;
	}
}

.small-write {
	font-size: .82em;
	padding-right: 4px;
}

.project-button {
	@include button(simple, $base-background-color);
	margin-bottom: 9px;
}

.main {
	
}

.inner-project {
	padding: 0.3em;
	background: tint($project-border, 30%);
	border: 3px solid white;
	border-radius: 5px;
}

#content {
	@include outer-container;
}

.article {

    @include media($large-screen) {
		@include span-columns(8);
	
	}
}

.home {
	
}

// menu - nav bar extensions.

.log-in {
	@extend .sign-up;
	margin-left: 1em;
}

.stats {
	  @include media($large-screen) {
		@include span-columns(4);
	}
}

.notice {
	@extend %flash-alert;
}

.alert {
	@extend %flash-alert;
}

.error {
	@extend %flash-error;
}

.success {
	@extend %flash-success;
}

.clock {
			width: 100%; 
			
			@include media($large-screen){
				padding-left: 20em;
			}
		}
.duration {
			display: none;
		}
.timer-buttons {
	font-size: .7em;
	text-align: center;
}

// fieldset {
// 	 @include media($large-screen) {
// 		@include span-columns(8);
	
// 	}
// }

.user-field-hide {
	
	.user-writing-settings {
		display: inline;

		input {
			width: 3em;
			display: inline;
		}

		select {
			display: inline;
		}

		label {
			display: inline;
		}
	}

}

.goal-field-hide,
.goal-field {

	fieldset{
		border-radius: 6px;
		margin-top: 1em;
		background-color: $light-gray;
		@include animation-name(scale, slide);
		padding: 15px 24px;

	}
	.goal-settings {
		display: inline;
		line-height: 3em;

		input {
			width: 5em;
			display: inline;
		}

		select {
			display: inline;
		}
			#goal_metric_name {
				
					width: 10em;
				
			}
	}
}
.metric-check {
	display: inline;

	input {
		display: inline;
	}
	label {
		display: inline;
	}

	select {
			display: inline;
		}
}

.goal-type-draft-number {
	display: inline;

	input {
		display: inline;
		width: 3em;
	}
	
	select {
			display: inline;
		}
}
.draft-number{
	display: inline;

		input {
			display: inline;
			width: 4em;
		}

		label {
			display: inline;
		}
		select {
			display: inline;
		}
	}
#conditional-draft-number {
	margin-left: 1em;
	display: none;
}

.tagsinput {
	border-radius: $form-border-radius;
	margin-bottom: 1.2em;


  	// &:focus {
	  //   border-color: $form-border-color-focus;
	  //   // box-shadow: $form-box-shadow-focus;
    
  // }
}
